<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2 categorias">
        <h2>Categorias</h2>
        <ul>
          <li>
          <button class="">
              All  
          </button>
          </li>
          <li>
            <button class="">
                Los Simpsons
            </button>
          </li>
          <li>
            <button class="">
                Cartoon Network
            </button>
          </li>
          <li>
            <button class="">
                Pride
            </button>
          </li>
          <li>
            <button class="">
                420
            </button>
          </li>
          <li>
            <button class="">
                Disney
            </button>
          </li>
          <li>
            <button class="">
                Looney Toons
            </button>
          </li>
          <li>
            <button class="">
                Bob Esponja
            </button>
          </li>
          <li>
            <button class="">
                Nickelodeon
            </button>
          </li>
          <li>
            <button class="">
                Lilo y Stich
            </button>
          </li>
          <li>
            <button class="">
                Frases
            </button>
          </li>
          <li>
            <button class="">
                Blanco y Negro
            </button>
          </li>
          <li>
            <button class="">
                Star Wars
            </button>
          </li>
          <li>
            <button class="">
              Gaming
            </button>
          </li>
          <li>
            <button class="">
                Rick y Morty
            </button>
          </li>
          <li>
            <button class="">
                Zapatillas
            </button>
          </li>
        </ul>
      </div>
      <div class="col-md-10">

      </div>
    </div>
  </div>
</body>
</html>