<body>
    <div class="linea">
        <div class="container-fluid fondo">
            <H1>LISTA DE PRECIOS</H1>
            <div class="contenedor row mx-auto">
                <div class="row col">
                    <p>Stickers de Catálogo</p>
                    <div class="lista">
                        <ul class="tamaño ">
                            <li>Mini (4x4 cm)</li>
                            <li>Mediano (8x8 cm)</li>
                            <li>Grande (10x10 cm)</li>
                            <li>Hiper (14x14 cm)</li>
                        </ul>
                        <ul class="precios">
                            <li>$10</li>
                            <li>$20</li>
                            <li>$30</li>
                            <li>$40</li>
                        </ul>
                    </div>    
                </div>
                    <div class="row col ">
                        <p>Stickers Personalizado</p>
                        <div class="lista">
                            <ul class="tamaño">
                                <li>Mini (4x4 cm)</li>
                                <li>Mediano (8x8 cm)</li>
                                <li>Grande (10x10 cm)</li>
                                <li>Hiper (14x14 cm)</li>
                            </ul>
                            <ul class="precios">
                                <li>$20</li>
                                <li>$40</li>
                                <li>$50</li>
                                <li>$70</li>
                            </ul>
                        </div>
                    </div>
            </div>       
        </div>
    </div>
</body>