body{
    width: 90%;
    margin: auto;
    background-image:url("../../assets/img/Fondo.jpg") ;
}

.card{
    background-color: black;
    border: 0;
    opacity: 0.8;
    
}
.card div input , select{
    margin-bottom: 1rem;
    border-radius: 7px;
    border: 0;
}