<body>
    
<div class="row ">
    
        <div class="login">
            
            
                <form (submit)="singUp()">
                    <div class="nombre">
                        <label for="">Nombre</label>
                        <input type="text" [(ngModel)]="user.nombre" class="form-control" name="nombre" required autofocus>
                    </div>

                    <div class="email">
                        <label for="email">Email</label>
                        <input type="text" [(ngModel)]="user.email" name="email" class="form-control"  required >
                    </div>

                    <div class="telefono">
                        <label for="">Telefono (Opcional)</label>
                        <input type="text" [(ngModel)]="user.telefono" class="form-control" name="telefono">
                    </div>  

                    <div class="password">
                        <label for="password">Contraseña</label>
                        <input type="password" [(ngModel)]="user.password" name="password" class="form-control"  required>
                    </div>
                    <div class="confirmacion">
                        <label for="">Confirmar Contraseña</label>
                        <input type="password" [(ngModel)]="user.confirmacion" class="form-control" name="confirmacion" required>
                    </div>    
                    <div class="boton">
                    <button >
                        Registrarme
                    </button>
                    </div>
                </form>
            
        </div>
    
</div>
</body>