
    <main>
        <header>
            <div class="header">
                    <ul class="contacto">
                       
                        <li><a href="https://www.instagram.com/stickerscontrolv/"><i class="fab fa-instagram"> @stickerscontrolv</i></a></li>
                        <li><i class="far fa-envelope">stickerscontrolv@gmail.com</i></li>
                    </ul>
                <div class="estilo">
                    <img class="logo " src="../../assets/img/Logo.png" alt="Logo">                                        
                </div>
                <div class="usuario">
                    <div class="login">
                        <a href="/login">Iniciar secion</a>
                        <a href="/singUp">Registrarse</a>
                    </div>
                    <form class="buscador" >
                        
                            <input type="text" name="buscar" placeholder="Buscar...">                       
                            <button class="btn boton p-0"><i class="fas fa-search"></i></button>
                          
                    </form>
                </div>    
            </div>
            <div class="navegacion container-fluid px-0 mr-auto">
                <nav class="navbar navbar-expand-lg  navbar-dark " >
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                    <div class="collapse navbar-collapse " id="navbarNav" >
                        <ul class="navbar-nav container-fluid  px-0">
                            <li class="nav-item active col-md-2 mx-auto">
                                <a class="nav-link" routerLink="/main" routerLinkActive ="active" >Home</a>
                            </li>
                            <li class="menu nav-item col-md-2 mx-auto">
                                <a class="nav-link"  routerLink="/catalogo" routerLinkActive ="active">Catalogo</a>
                               <!-- <ul  class="submenu">               
                                    <li>
                                        <a class="nav-link" href="#">Disney</a>
                                    </li>
                                    <li>
                                        <a class="nav-link" href="#">Pixar</a>
                                    </li>
                                    <li>
                                        <a class="nav-link" href="#">StarWars</a>
                                    </li>
                                    <li>
                                        <a class="nav-link" href="#">TheSimpsons</a>
                                    </li>
                                    <li>
                                        <a class="nav-link" href="#">Comida</a>
                                    </li>
                                    <li>
                                        <a class="nav-link" href="#">Varios</a>
                                    </li>              
                                </ul>-->
                            </li>
                            <li class="col-md-2 mx-auto">

                            </li>
                            <li class="nav-item col-md-2 mx-auto">
                                <a class="nav-link" routerLink="promociones.html" routerLinkActive ="active">Perzonalizados</a>
                            </li>
                            <li class="nav-item col-md-2 mx-auto">
                                <a class="nav-link" routerlink="contacto.html" routerLinkActive ="active">FAQ</a>
                            </li>

                        </ul>
                        
                    </div>    
                </nav>
            </div>
        </header>
        <footer>

        </footer>
    </main>
