<body>
    
    <div class="row ">
        
            <div class="login">
                
                
                    <form >
                        <div class="email">
                            <label for="email">Email</label>
                            <div class="fondo">
                                <input type="text"  name="email" class="form-control"  required autofocus>
                            </div>
                        </div>
                        <div class="password">
                            <label for="password">Contraseña</label>
                            <div class="fondo">
                                <input type="password"  name="password" class="form-control"  required>
                            </div>
                            <a class="olvido" href="#">¿Olvidaste la contraseña?</a>
                        </div>
                        <button >
                            INICIAR SESIÓN
                        </button>
                        <p>¿No teines cuenta?<a href="/singUp"> Resgitrarme</a></p>
                    </form>
                
            </div>
        
    </div>
    </body>